models/csapatok.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/feladat/models/csapatok.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/feladat/models/csapatok.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/feladat/models/csapatok.wsdl">
      <xsd:complexType name="Klubbok">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzi" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="klubbok" type="tns:KlubArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Klub">
        <xsd:all>
          <xsd:element name="klubid" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="klubnev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Jatekosok">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzi" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="klubid" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="klubnev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="jatekosok" type="tns:JatekosArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Jatekos">
        <xsd:all>
          <xsd:element name="jatekosid" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="mezszam" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="klubid" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="posztid" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="utonev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="vezeteknev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="szulido" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="magyar" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="kulfoldi" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ertek" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="id" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="posztnev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getklubbokRequest"/>
  <wsdl:message name="getklubbokResponse">
    <wsdl:part name="getklubbokReturn" type="tns:Klubbok"/>
  </wsdl:message>
  <wsdl:message name="getjatekosokRequest">
    <wsdl:part name="klubid" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="getjatekosokResponse">
    <wsdl:part name="getjatekosokReturn" type="tns:Jatekosok"/>
  </wsdl:message>
  <wsdl:portType name="CsapatokPortType">
    <wsdl:operation name="getklubbok">
      <wsdl:documentation/>
      <wsdl:input message="tns:getklubbokRequest"/>
      <wsdl:output message="tns:getklubbokResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getjatekosok">
      <wsdl:documentation/>
      <wsdl:input message="tns:getjatekosokRequest"/>
      <wsdl:output message="tns:getjatekosokResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CsapatokBinding" type="tns:CsapatokPortType">
    <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getklubbok">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/feladat/models/soapserver.php?method=getklubbok" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getjatekosok">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/feladat/models/soapserver.php?method=getjatekosok" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Csapatok">
    <wsdl:documentation/>
    <wsdl:port name="CsapatokPort" binding="tns:CsapatokBinding">
      <soap-env:address location="http://localhost/feladat/models/soapserver.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
